In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

# Load iris data from sklearn

In [3]:
from sklearn.datasets import load_iris
iris = load_iris()

# Checking var type of iris and then the "data" part of iris

In [4]:
type(iris)

sklearn.utils.Bunch

In [5]:
type(iris.data)

numpy.ndarray

# Use pandas to structure iris.data (just numbers) into a dataframe with iris.feature_names (just strings) as column names
## Prints first few rows

In [6]:
import pandas as pd
x = pd.DataFrame(data = iris.data, columns = iris.feature_names)
print(x.head())

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

# Getting the type of iris (the classification) and putting that into a dataframe of a single column called "iristype"
## Prints first few rows

In [7]:
y = pd.DataFrame(data=iris.target,columns = ['iristype'])
y.head()

   iristype
0         0
1         0
2         0
3         0
4         0

# Gets frequency of each iris type (how many 0s, 1s, and 2s)

In [8]:
y.iristype.value_counts()

2    50
1    50
0    50
Name: iristype, dtype: int64

# Paste data into one table

In [16]:
fulldata = pd.DataFrame({
    'sepal length':iris.data[:,0],
    'sepal width': iris.data[:,1],
    'petal length': iris.data[:,2],
    'petal width': iris.data[:,3],
    'species': iris.target
})
fulldata.head()

   sepal length  sepal width  petal length  petal width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0